---
title: Our Team
---

<div class="container container-white">
  
  <section id="hero" class="no-gutter">
    <%= partial "partials/hero-unit" %>
  </section>
  
   <div class="col-md-12">
      <h2 class="section-header" id="article">About us</h2>
    </div>
  
  <section id="about-us">
    <div class="row">      
      <div class="col-md-5 col-md-offset-1">
        <p class="lead">Sheffield Radiation Protection Assurance (RPA) service offers our clients comprehensive and high quality radiation protection services that are tailored to their individual needs.</p>
        <p>As part of one of the largest Medical Physics and Clinical Engineering Departments within one of the leading NHS Teaching Hospitals in the UK, we have have access to specialist electronic, mechanical and software engineering design and fabrication facilities, enabling us to fully support all of our client’s service requirements.</p>
        <p>For more information about our radiation protection services, see our <%= link_to "detailed service listing", "/our-services.html#article" %>. To find out more about Sheffield Teaching Hospitals and the Medical Physics services available please see the dedicated sections below.</p>
      
        <h3>Sheffield Teaching Hospitals</h3>
        <p><a href="http://www.sth.nhs.uk/about-us" target="_blank">Sheffield Teaching Hospitals NHS Foundation Trust</a> is of the UK’s largest, busiest and most successful NHS foundation trusts. We provide a full range of hospital and community services for people in Sheffield, as well as specialist care for patients from further afield</p>
        <p>We have a long history of providing high quality care, clinical excellence and innovation in medical research. In the space of five years we have been awarded the title of ‘Hospital Trust of the Year’ in the Good Hospital Guide three times and we are proud to be in the top 20% of NHS Trusts for patient satisfaction.</p>
        <p>With around 16,000 employees, we are one of the biggest employers locally. We aim to reflect the diversity of local communities and are proud of our new and existing partnerships with local people, patients, neighbouring NHS organisations, local authority and charitable bodies.</p>
        <p>As well as being home to one of three Major Trauma Centres for the Yorkshire and Humber region, we have a number of specialist medical and surgical services, many of which we are internationally renowned for. These include <a target="_blank" href="http://www.sth.nhs.uk/cancer">cancer treatment</a>, <a target="_blank" href="http://www.sth.nhs.uk/services/a-z-of-services?id=277">spinal injuries</a>, <a target="_blank" href="http://www.sth.nhs.uk/neurosciences/neurology">neurology</a>, <a target="_blank" href="http://www.sth.nhs.uk/cardiac/cardiology-and-cardiothoracic-surgery">cardiology</a> and <a target="_blank" href="http://www.gammaknife.org.uk/">stereotactic radiosurgery</a> to name but a few.</p>
        <p>Our long tradition of clinical and scientific achievements was only strengthened by developing on of the UK’s first Academic Health Science Networks. Through our partnerships with the University of Sheffield, Sheffield Hallam University, other health and social care providers and industry we remain at the forefront of advancements in clinical services, teaching and research.</p>
     
      </div>
      
      <div class="col-md-4 col-md-offset-1">
        <%= partial "partials/form" %>
     </div>
    </div>
        

    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h3>Medical Physics and Clinical Engineering Services at Sheffield Teaching Hospitals</h3>
        <p>The Medical Physics and Clinical Engineering department at Sheffield Teaching Hospitals is one of the largest dedicated services in the country. Our expert teams apply their knowledge of the physical sciences and engineering to the development and quality assurance of many diagnostic tests, treatment techniques and associated medical equipment which is widely used in hospitals in Sheffield and beyond.</p>
        <p>The department, which maintains close links with the University of Sheffield’s Medical Physics Group, is heavily involved in research, too. Researchers from the department are currently at the helm of a European-wide initiative which is using in silico medicine, or computer stimulated technology to understand how disease processes work. The department is also home to the nationally acclaimed <a href="http://www.devicesfordignity.org.uk/" target="_blank">‘Devices for Dignity’ Healthcare Technology Co-operative</a>, which brings the NHS, industry and universities together to work with patients as partners to develop technologies which help to improve dignity and independence for people living with long-term conditions</p>
      </div>
      
      <div class="col-md-4 col-md-offset-1">
        <div class="spacer double">
          <%= image_tag "scan_small.jpg", class: "img-responsive" %>
        </div>
      </div>
    </div>
      

    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h3>The Sheffield Radiation Protection Assurance Team</h3>
        <p>The quality of RPA services is assured by our highly qualified and experienced team of UK Health Care Professions Council Registered Clinical Scientists and Technologists.</p>
        <p>The team comprises expert Radiation Protection Advisers and Radioactive Waste Advisors certificated by RPA2000 and Medical Physics Experts.</p>
        <p>This skilled team is supported by our extensive facilities for equipment performance measurement, image analysis, personnel dosimetry, sample analysis and monitoring equipment.</p>
        <p>We also use a range of up-to-date commercial and bespoke analysis software. As a Section we are part of one of the largest Medical Physics and Clinical Engineering Departments within one of the leading NHS Teaching Hospitals in the UK.</p>
        <p>Through our services, clients have access to specialist electronic, mechanical and software engineering, design and fabrication facilities, enabling us to fully support a comprehensive range of service requirements.</p>

        <%= link_to "Meet the Team", "our-team.html", class: "btn btn-lg btn-block btn-primary" %>
        <br>
      </div>
  
      <div class="col-md-4 col-md-offset-1 hidden-xs">
        <div class="spacer">
            <div class="row">

            <% data.staff.member.each do |s| %>      

                <div class="col-md-4 col-sm-4">
                  <section class="card-team-member">
                    <%= image_tag s.img, class: "img-responsive", width: "100%" %>
                  </section>
                </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>
    
  </section>
  
</div>

<%= partial "partials/contact-modal" %>