---
title: Radiation Protection Assurance
---

<div class="container container-white">
  <section id="hero" class="no-gutter">
    <%= partial "partials/hero-unit" %>
  </section>


  <%= partial "partials/major-features" %>

  <%= partial "partials/our-services" %>

  <%= partial "partials/testimonials" %>

    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">Case Study</div>
              <div class="panel-body">
                <img src="http://placehold.it/700x200" class="img-responsive">
                <h3>Name of Case Study</h3>
                <p class="lead">An introduction one-liner that summarizes the case study</p>
                <p>rem ipsum dolor sit amet, ut nam ipsum phaedrum dignissim. Omnis corpora eu usu. Eam corpora sapientem ut. Homero laudem ne ius, fabellas deserunt nam te.</p>

                <p>Quo eu veritus epicuri scribentur, id usu hendrerit voluptatibus. Vis ad omnesque copiosae. Te vel omnium delenit percipit, at mea quod civibus percipitur. Enim congue cum ei, ad indoctum interpretaris eum. Adolescens instructior sea at, quo verterem efficiendi cu.</p>

                <p>Et iudico copiosae est, ne fugit audire tritani mei, mel ut tractatos philosophia. Sit ut case dicunt. Modus dolores cu duo. Mei consul putent bonorum ut, mei ei quodsi delectus. Sea movet epicuri no.</p>

                <p>Ea sea vidit exerci omittantur, ius soluta habemus id. Essent causae conceptam ex quo, has et integre admodum. Eu mea elit mazim commodo. Mea paulo vivendum deterruisset ne, novum quando ignota ea duo, mei dolore dissentiunt no.</p>

                <p>Eam ex eligendi democritum. Eos alii fastidii ut, ius id alii inciderint. Everti alienum definitionem ei his. Vim wisi iudico ea, sea diam probatus qualisque in, sed commune officiis abhorreant eu. Impetus fabulas duo id, pri aeque simul ei.</p>
                <span class="label label-primary">NHS</span> <span class="label label-primary">Ethics Service</span>
              </div>
              <div class="panel-footer"></div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-md-4">
        <%= partial "partials/form" %>
      </div>
    </div>



 <%= partial "partials/customers" %>


  <%= partial "partials/contact-modal" %>


</div>