
  <div class="row">
    
    <div class="col-md-12 text-center">
       <h2 class="section-header">Our Services</h2>
    </div>
    
    <div class="row">
      
      <div class="col-md-3 col-sm-6">
         <div class="media">
          <div class="media-left">
            <a href="#">
              <%= image_tag "png/signpost3.png", width: "84" %>  
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Service Design &amp; Consultation</h4>
            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-3 col-sm-6">
         <div class="media">
          <div class="media-left">
            <a href="#">
             <%= image_tag "png/clipboard44.png", width: "84" %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Comprehensive Radiation Protection</h4>
            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
          </div>
        </div>
      </div>
      
      
      
      <div class="col-md-3 col-sm-6">
         <div class="media">
          <div class="media-left">
            <a href="#">
               <%= image_tag "png/portfolio8.png", width: "84" %>  
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Quality Assurance</h4>
            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
          </div>
        </div>
      </div>
      
       <div class="col-md-3 col-sm-6">
         <div class="media">
          <div class="media-left">
            <a href="#">
             <%= image_tag "png/open130.png", width: "84" %> 
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Corporate Assurance</h4>
            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="media">
          <div class="media-left">
            <a href="#">
               <%= image_tag "png/clipboard46.png", width: "84" %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Project Management</h4>
            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-3 col-sm-6">
         <div class="media">
          <div class="media-left">
            <a href="#">
              <%= image_tag "png/information38.png", width: "84" %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Training &amp; Staff Development</h4>
            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
          </div>
        </div>
      </div>
      
       <div class="col-md-3 col-sm-6">
         <div class="media">
          <div class="media-left">
            <a href="#">
               <%= image_tag "png/scroll5.png", width: "84" %>  
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Full Ethics Guidance</h4>
            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-3 col-sm-6">
         <div class="media">
          <div class="media-left">
            <a href="#">
               <%= image_tag "png/folders3.png", width: "84" %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Additional Services</h4>
            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>