
  <div class="row">
    
    <div class="col-md-12" id="our-services">
      <h2 class="section-header">Our Services</h2>
    </div>
    
    <div class="col-md-5 col-md-offset-1">
      <section class="service-text">
        <p class="lead">Our Radiation Protection Assurance (RPA) service offers our clients comprehensive and high quality radiation protection services that are tailored to their individual needs.</p>
        <p>We deliver corporate assurance to our clients through advice which is both proactive and responsive but proportionate and relevant to their service requirements, providing radiation protection advice to hospitals, healthcare services and industry on:</p>
        <ul>
          <li>Healthcare Imaging</li>
          <li>Sealed and unsealed radioactive sources</li>
          <li>Therapy Treatment (External Beam Radiotherapy and Nuclear Medicine Therapy)</li>
          <li>Clinical Research</li>
          <li>Disposal of radioactive clinical waste</li>
          <li>Radiation Protection Design</li>
        </ul>
       <p>We also provide Quality Assurance (QA) advice for users of these modalities:</p>
        <ul>
          <li>X-rays</li>
          <li>Sealed and Unsealed radioactive sources </li>
          <li>External Beam or Brachytherapy Radiotherapy</li>
          <li>Magnetic Resonance Imaging (MRI)</li>
          <li>Ultrasound</li>
          <li>Lasers</li>
          <li>Ultraviolet light</li>
        </ul>
        <p>As part of one of the largest Medical Physics and Clinical Engineering Departments within one of the leading NHS Teaching Hospitals in the UK, we have have access to specialist electronic, mechanical and software engineering design and fabrication facilities, enabling us to fully support all of our client’s service requirements.</p>
        <p>For more information about our services, see our <%= link_to "detailed service listing", "/our-services.html#service-index" %> or get in touch with out team via our online form.</p>
      </section>
    </div>
    
    <div class="col-md-4 col-md-offset-1">
      <%= partial "partials/form" %>
    </div>
    
    
    <div class="col-md-12">
      
      <section id="featured-services">
        <div class="row">
      
          <div class="col-md-3 col-sm-6">
             <div class="media">
              <div class="media-left">
                <a href="#" data-toggle="modal" data-target="#myModal">
                  <%= image_tag "png/signpost3.png", width: "84" %>  
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Service Design &amp; Consultation</h4>
                <p>From consulting on healthcare imaging and therapy treatment to radiation protection service design, our radiation protection team can help provide the service you need</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
             <div class="media">
              <div class="media-left">
                <a href="#" data-toggle="modal" data-target="#myModal">
                 <%= image_tag "png/clipboard44.png", width: "84" %>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Comprehensive Radiation Protection</h4>
                <p>With a highly qualified and experienced team of UK Health Care Professions Council Registered Clinical Scientists and Technologists, we offer a comprehensive and full-featured protection service</p>
              </div>
            </div>
          </div>



          <div class="col-md-3 col-sm-6">
             <div class="media">
              <div class="media-left">
                <a href="#" data-toggle="modal" data-target="#myModal">
                   <%= image_tag "png/portfolio8.png", width: "84" %>  
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Quality Assurance</h4>
                <p>Gain access to our experienced and highly qualified staff through our QA service, and make sure your service delivers on its full promise</p>
              </div>
            </div>
          </div>

           <div class="col-md-3 col-sm-6">
             <div class="media">
              <div class="media-left">
                <a href="#" data-toggle="modal" data-target="#myModal">
                 <%= image_tag "png/open130.png", width: "84" %> 
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Corporate Assurance</h4>
                <p>Let our team support the achievement of your policies, aims and objectives and targets at all levels and ensure rigorious internal controls are in place</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="media">
              <div class="media-left">
                <a href="#" data-toggle="modal" data-target="#myModal">
                   <%= image_tag "png/clipboard46.png", width: "84" %>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Project Management</h4>
                <p>With staff experienced in managing and consulting on a range of projects large and small, we can offer your project the support needed to make it a success</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
             <div class="media">
              <div class="media-left">
                <a href="#" data-toggle="modal" data-target="#myModal">
                  <%= image_tag "png/information38.png", width: "84" %>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Training &amp; Staff Development</h4>
                <p>Our highly qualified team can help provide on-site and tailored training catered to your service's needs</p>
              </div>
            </div>
          </div>

           <div class="col-md-3 col-sm-6">
             <div class="media">
              <div class="media-left">
                <a href="#" data-toggle="modal" data-target="#myModal">
                   <%= image_tag "png/title2.png", width: "84" %>  
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Full Ethics Guidance</h4>
                <p>With staff actively involved at a national level, we offer an in-depth, forward looking consultancy service on guidance and regulation</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
             <div class="media">
              <div class="media-left">
                <a href="#" data-toggle="modal" data-target="#myModal">
                   <%= image_tag "png/folders3.png", width: "84" %>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Additional Services</h4>
                <p>We also offer a full-range of additional and complementary services. <a href="#" data-toggle="modal" data-target="#myModal">Get in touch with our team to find out more</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <a role="button" href="#" class="btn btn-lg btn-info btn-block btn-call-out hidden-md hidden-lg" data-toggle="modal" data-target="#myModal">Contact us</a>
        </div>
      </div>
      
    
    
    </div>
  </div>