<div class="row">
  <div class="col-md-12">
    <div class="team-block">
      <h2 class="text-center">Our Team</h2>
    </div>
  </div>
  
  <div class="col-md-5 col-md-offset-1">
    <p class="lead">The quality of RPA services is assured by our highly qualified and experienced team of UK Health Care Professions Council Registered Clinical Scientists and Technologists.</p>
    <p>The team comprises expert Radiation Protection Advisers and Radioactive Waste Advisors certificated by RPA2000 and Medical Physics Experts.</p>
    <p>This skilled team is supported by our extensive facilities for equipment performance measurement, image analysis, personnel dosimetry, sample analysis and monitoring equipment.</p>
    <p>We also use a range of up-to-date commercial and bespoke analysis software. As a Section we are part of one of the largest Medical Physics and Clinical Engineering Departments within one of the leading NHS Teaching Hospitals in the UK.</p>
    <p>Through our services clients have access to specialist electronic, mechanical and software engineering design and fabrication facilities, enabling us to fully support all of our client’s service requirements.</p>
  
    <%= link_to "Meet the Team", "our-team.html", class: "btn btn-block btn-primary" %>
  </div>
  
  <div class="col-md-4 col-md-offset-1">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <%= image_tag "team/giles-morrison.jpg", class: "img-responsive", width: "100%" %>
      </div>
      
      <div class="col-md-6 col-sm-6 col-xs-6">
        <%= image_tag "team/mark-singleton.jpg", class: "img-responsive", width: "100%" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <%= image_tag "team/karen-fuller.jpg", class: "img-responsive", width: "100%" %>
      </div>
      
      <div class="col-md-6 col-sm-6 col-xs-6">
        <%= image_tag "team/paul-harris.jpg", class: "img-responsive", width: "100%" %>
      </div>
    </div>
  </div>
  
</div>